<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Breadth First Search</title>
</head>
<body>
    <h1>Breadth First Search</h1>
    <h3>Búsqueda por Anchura</h3>
    
    <script src="js/p5/p5.js"></script>
    <script src="js/p5/p5.dom.js"></script>
    <script src="js/p5/p5.sound.js"></script>
    <script src="js/node.js"></script>
    <script src="js/graph.js"></script>
    <script src="js/script.js"></script>
</body>
</html>