<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Evolutionary Steering Behaviors</title>
</head>
<body>
    <h1>Evolutionary Steering Behaviors</h1>
    <p id="maxR"></p>
    <p id="avgR"></p>
    <p id="maxH"></p>
    <p id="avgH"></p>
    <p id="totalVehicles"></p>
    
    <script src="js/p5/p5.js"></script>
    <script src="js/p5/p5.dom.js"></script>
    <script src="js/p5/p5.sound.js"></script>
    <script src="js/vehicle.js"></script>
    <script src="js/script.js"></script>
</body>
</html>