<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A * Pathfinding Algorithm</title>
</head>
<body>
    <h1>A * Pathfinding Algorithm</h1>
    
    <script src="js/p5/p5.js"></script>
    <script src="js/p5/p5.dom.js"></script>
    <script src="js/p5/p5.sound.js"></script>
    <script src="js/spot.js"></script>
    <script src="js/script.js"></script>
</body>
</html>